{%  extends "base.html" %}
{% block login %}
{% if username == "" %}
<div class="log-in">
  Login
</div>
<div class="register">
  Register
</div>
{% else %}
<div class="greet">
  Hi, {{ username }}
</div>
<div class="log-out">
  Logout
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="content_">
  <div class="question-form">
    <div class = "form-upper">
      <div class = "question-label">
        <label>問問題</label>
      </div>
    </div>
    <div class = "form-lower">
      <div class = "form-left">
        <div class = "form-title">
          <div class = "form-title-label">
            <label>標題</label>
          </div>
          <div class = "form-title-entry">
            <input type = "text" name = "question-title" id = "question-title" placeholder = "問題標題" value = "Test title">
          </div>
        </div>
        <div class = "form-content">
          <div class = "form-content-label">
            <label>內容</label>
          </div>
          <div class = "form-content-entry">
            <input type = "text" name = "question-content" id = "question-content" placeholder = "問題內容" value = "Test content">
          </div>
        </div>
      </div>
      <div class = "form-right">
        <div class = "form-submit">
          <div>
            <button name = "question-submit" id = "question-submit" onclick = "submit_form()">發布</button>
          </div>
          <div>
            <input type = "checkbox" name = "anonymity" id = "anonymity">
            <label for = "anonymity">匿名發布</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
  function submit_form() {
    //var asker = document.getElementById("");
    var question_title = document.getElementById("question-title").value;
    var question_content = document.getElementById("question-content").value;
    var question_anonymous = document.getElementById('anonymity').checked;
    var question_dict = {"question" : question_title, "content" : question_content, "anonymous" : question_anonymous};
    console.log(question_dict);
    console.log("finished");

    $.ajax({
      url : "./post",
      type : "POST",
      contentType : "application/json",
      dataType : "json",
      data : JSON.stringify(question_dict),
      success : function(data) {
        alert(data["error_code"]);
        console.log(data);
        window.location.href = "/";
      },
      error : function() {
        alert("fail");
        console.log("fail");
      }
    })
  }
</script>
{% endblock %}
