@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.new-width {
    width: 75vw;
}

.seperate-line {
    border-right: 0.1vw solid #A49B9B;
}

.top{
    background-color: #658389;


}

.brand{
    font-family: 'Yaldevi', sans-serif;
    font-weight: bold;
    font-size: 6.48vmin;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.navOption{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.161vmin;
    line-height: 3.241vmin;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}



