@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Monofett&family=Press+Start+2P&display=swap');
.new-width {
    width: 75vw;
}

.seperate-line {
    border-left: 0.1vw solid #A49B9B;
}

.top {
    background-color: #658389;
}

.brand {
    font-family: 'Bangers', cursive;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: bold;
    font-size: 7.5vmin;
    letter-spacing: 0.31em;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient( to right, #fff 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: 100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.25s ease-in-out;
}

.brand:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.brand:hover {
    background-position: 0;
    color: #2b2b2b;
}

.brand:hover::before {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .navOption {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 2.161vmin;
        line-height: 3.241vmin;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 768px) {
    .navOption {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 3.5vmin;
        line-height: 3vmin;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
    .seperate-line {
        border-left: none;
    }
}

.footer {
    font-family: 'Roboto', sans-serif;
    font-size: 2.161vmin;
    line-height: 2.521vmin;
    display: flex;
    align-items: center;
    color: #000000;
}

#option {
    animation-name: navi-unhover;
    animation-duration: 0.2s;
}

#option:hover {
    color: #ffffff;
    animation-name: navi-hover;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.dropdown {
    animation-name: navi-unhover;
    animation-duration: 0.2s;
}

.dropdown>a:hover {
    color: #ffffff !important;
    animation-name: navi-hover;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: white !important;
    /*Whatever colour you want for background */
}

.navbar-nav {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
}

@keyframes navi-hover {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}

@keyframes navi-unhover {
    from {
        transform: scale(1.25);
    }
    to {
        transform: scale(1);
    }
}