@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.four0four{
   
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 260px;
    line-height: 390px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #606060;
}

.oopsWord{
    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #606060;

}



.backButton{

    width: 200px;
    height: 40px;
    right: 700px;
    top: 635px;

    background: #FFFEFE;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;

    border-radius: 20px;
    color: #555555;


}

.backMargin{
    margin-top: 10vh;
}


.sentence{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #606060;

}