@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.four0four{
    font-size: 31.212vmin;
    line-height: 46.819vmin;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

    display: flex;
    align-items: center;
    text-align: center;
    
    color: #606060;
}

.oopsWord{
    font-size: 7.683vmin;
    line-height: 11.525vmin;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

    display: flex;
    align-items: center;
    text-align: center;

    color: #606060;

}



.backButton{
    width: 24.01vmin;
    height: 4.802vmin;

    background: #FFFEFE;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size:2.161vmin;
    line-height: 3.241vmin;
    display: flex;
    align-items: center;
    text-align: center;

    border-radius: 20px;
    color: #555555;


}

.backMargin{
    margin-top: 10vh;
}


.sentence{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #606060;
    font-size: 4.322vmin;
    line-height: 6.483vmin;
}