@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.loginbuttonstyle{
    width: 116px;
    height: 40.91px;
    left: 1613px;
    top: 50.16px;
    text-decoration: none;
    background: #FFFEFE;
    border-radius: 20px;
    border-color:transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 0.9375vw;
    line-height: 1.40625vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: #474747;
}

.registerbuttonstyle{
    width: 116px;
    height: 40.91px;
    right: 50px;
    top: 50.16px;
    text-decoration: none;
    background: #BD9090;
    border-radius: 20px;
    border-color:transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}