@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.loginbuttonstyle{
    width: 116px;
    height: 40.91px;
    left: 1613px;
    top: 50.16px;
    text-decoration: none;
    background: #FFFEFE;
    border-radius: 20px;
    border-color:transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.9375vw;
    line-height: 1.40625vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: #474747;
}

.registerbuttonstyle{
    width: 116px;
    height: 40.91px;
    right: 50px;
    top: 50.16px;
    text-decoration: none;
    background: #BD9090;
    border-radius: 20px;
    border-color:transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}



.boxRadius{
    width: 125.614vh;
    background: #FFFFFF;
    border: 0.107vh solid #000000;
    box-sizing: border-box;
    border-radius: 3.6vmin;
}



.questionBlock{
    width: 125.614vh;
    left: calc(50% - 125.614vh/2 -  0.0534vh);
    background: #FFFFFF;
    border-radius: 1.601vh;
}

.questionTitle{
    width: 896.48px;
    height: 30.68px;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    display: flex;
    align-items: center;

    color: #000000;
}

.heart{
    font-size: 45px;
    width: 6.1792vh;
    height: 53.18px;
    background-color: transparent;
}

.heartNumber{
    width:  3.196vh;
    height: 2.838vh;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:  2.561vh;
    line-height: 2.988vh;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


.questionTime{
    width: 21.345vh;
    height: 2.182vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:  1.281vh;
    line-height: 2.241vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.questionReply{
    width: 5.54vh;
    height: 5.021vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.988vh;
    line-height: 3.522vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}


.questionreply{
    width: 5.54vh;
    height: 3vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:  1.494vh;
    line-height: 1.75vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}



.hiMember{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #F1EFE6;
}

