@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.titleBackground {
    width: 132.653vmin;
}

.Qtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 6.483vmin;
    line-height: 9.724vmin;
    display: flex;
    align-items: center;
    color: #000000;
}

.Qrelative {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 2.161vmin;
    line-height: 2.521vmin;
    color: #484848;
}

.Qbutton {
    /*word*/
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.681vmin;
    line-height: 2.521vmin;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    /*button*/
    background: #888280;
    border-radius: 0.72vmin;
}

.Qcontent {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.401vmin;
    line-height: 3.601vmin;
    color: #363636;
    border-radius: 2.4vmin;
}

.heartSize {
    font-size: 5.402vmin;
}

.likeTimes {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.601vmin;
    line-height: 5vmin;
    display: flex;
    align-items: center;
    color: #000000;
}

.comment {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.601vmin;
    line-height: 5.402vmin;
    display: flex;
    align-items: center;
    color: #363636;
}

.reply {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.161vmin;
    line-height: 3.241vmin;
    display: flex;
    align-items: center;
    text-align: center;
    color: #363636;
}

.replyMember {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.401vmin;
    line-height: 3.601vmin;
    display: flex;
    align-items: center;
    color: #658389;
}

.replyContent {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.401vmin;
    line-height: 3.601vmin;
    display: flex;
    align-items: center;
    color: #000000;
}

.replyDate {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.801vmin;
    line-height: 3.241vmin;
    display: flex;
    align-items: center;
    color: #828282;
}

.post {
    height: 6.242vmin;
    background: #5D8F8A;
    border-radius: 3vmin;
}

.box {
    height: 6.242vmin;
    background: #FFFFFF;
    border-radius: 3.6014vmin;
}

.postWord {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.401vmin;
    line-height: 3.601vmin;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}