@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



.leaderboard{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 9.844vmin;
    line-height: 14.766vmin;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.bottomLine{
    border-bottom: 0.1vw solid #A49B9B;
}


.topic{
    width: 18.727vmin;
    height: 5.762vmin;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 5.762vmin;
    line-height: 8.643vmin;
    display: flex;
    align-items: center;
    text-align: center;

    color: #363636;
}

.userStyle{
    width: 18.727vmin;
    height: 5.762vmin;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4.322vmin;
    line-height: 6.483vmin;

    align-items: center;
    text-align: center;

    color: #484848;
}

.myself{

    background:#B0CBAD;
    border-radius: 3.601vmin;
}