@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



.leaderboard{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 8.751vh;
    line-height: 13.127vh;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.bottomLine{
    border-bottom: 0.1vw solid #A49B9B;
}


.topic{
    font-family: 'Poppins', sans-serif;
    width: 5.123vh; 
    height: 5.123vh;
    font-weight: 700;
    font-size: 5.123vh;
    line-height:  7.684vh;
    display: flex;
    align-items: center;
    text-align: center;

    color: #363636;
}

.userStyle{
    width: 5.123vh; 
    height: 5.123vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.842vh;
    line-height: 5.763vh;
    display: flex;
    align-items: center;
    text-align: center;

    color: #484848;
}