{% extends "base.html" %} {% block linkCSS %}
<link rel="stylesheet" href="{{  url_for('static', filename = 'about&rule.css')  }}">
<link rel="stylesheet" href="{{  url_for('static', filename = 'index.css')  }}"> {% endblock %} {% block login %} {% if username == "" %}
<button class="btn "><a href="{{ url_for('login') }}" class="loginbuttonstyle justify-content-center p-md-3 px-4 px-md-0" id="login">Login</a></button>
<button class="btn "><a href="{{ url_for('register') }}" class="registerbuttonstyle justify-content-center p-md-3  px-5 px-md-0" id="register">Register</a></button> {% endif %} {% if username != "" %}
<button class="btn ">
    <a href="{{  url_for('profile')  }}" class="hiMember justify-content-center" id="member">{{ username }}</a>
</button>
<button class="btn ">
    <a href="{{  url_for('log_out')  }}" class="registerbuttonstyle justify-content-center p-3" id="logout">Logout</a>
</button> {% endif %} {% endblock %} {% block content %}
<div class="container">
    <div class="Qstyle justify-content-center d-flex mt-5">
        About us
    </div>
    <div class="Astyle mt-1">
        NDHU CSIEplus is a question-and-answer website created in 2022.As developers, we do our best to create a platform where NDHU students can ask questions and answer questions about Computer Science. We hope you all have a good user experience and find answers
        to the questions you want to ask.
    </div>
    <div class="Qstyle justify-content-center d-flex mt-5">
        Develop team
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-2 mt-1">
        <div class="col">
            <div class="card">
                <h5 class="card-title d-flex justify-content-center  mt-3 title">Team Leader</h5>
                <img src="https://i.ibb.co/vcZmC29/tsuen.jpg" class="smaller-image rounded-circle mx-auto">
                <div class="card-body">
                    <a href="https://github.com/michael21910" class="d-flex justify-content-center mt-3 name">薛祖恩</a>
                    <p class="card-text mt-3 content justify-content-center">Team Boss & Almighty genius</p>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card">
                <h5 class="card-title d-flex justify-content-center  mt-3 title">Team Member</h5>
                <img src="https://i.ibb.co/WyCP0dV/kevin.jpg" class="smaller-image rounded-circle mx-auto">
                <div class="card-body">
                    <a href="https://github.com/keywind127" class="d-flex justify-content-center mt-3 name">徐向廷</a>
                    <p class="card-text mt-3 content justify-content-center">Brilliant programmer & Model magician</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-title d-flex justify-content-center mt-3 title">Team Member</h5>
                <img src="https://i.ibb.co/wNr216T/wilson.jpg" class="smaller-image rounded-circle mx-auto">
                <div class="card-body">
                    <a href="https://github.com/wilsonchang17" class="d-flex justify-content-center mt-3 name">張宸瑋</a>
                    <p class="card-text mt-3 content justify-content-center">X factor in our team & extraordinary designer</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-title d-flex justify-content-center mt-3 title">Team Member</h5>
                <img src="https://i.ibb.co/09PQsZg/jerry.jpg" class="smaller-image rounded-circle mx-auto">
                <div class="card-body">
                    <a href="https://github.com/jerry0424" class="d-flex justify-content-center mt-3 name">葉耀中</a>
                    <p class="card-text mt-3 content justify-content-center">handsome boy</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}