{% extends "base.html" %} {% block linkCSS %}
<link rel="stylesheet" href="{{  url_for('static', filename = 'index.css')  }}">
{% endblock %} {% block login %} {% if username == "" %}
<button class="btn ">
    <a href="{{ url_for('login') }}" class="loginbuttonstyle justify-content-center">Login</a>
</button>
<button class="btn ">
    <a href="{{ url_for('register') }}" class="registerbuttonstyle justify-content-center">Register</a>
</button>
{% endif %} {% if username != "" %}
<div>
    Hi, {{ username }}
</div>
<div>
    <a href="{{  url_for('log_out')  }}">Logout</a>
</div>
{% endif %} {% endblock %} {% block content %}

<div>
    <div>
        <div>
            <label>Ask a Question</label>
        </div>
    </div>
    <form action="{{  url_for('post_question')  }}" method="post">
        <div>
            <div>
                <div>
                    <div>
                        <label>Title</label>
                    </div>
                </div>
                <div>
                    <input type="text" name="question-title" placeholder="Title of question..." value="{{  title_default_value  }}">
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <label>Content</label>
                    </div>
                </div>
                <div>
                    <input type="text" name="question-content" placeholder="Content of question..." value="{{  content_default_value  }}">
                </div>
            </div>
            <div>
                <div>
                    Please choose your tags
                </div>
                <div>
                    <input type="checkbox" name="General" value="General">
                    <span>General</span>
                    <input type="checkbox" name="Freshman" value="Freshman">
                    <span>Freshman</span>
                    <input type="checkbox" name="Sophomore" value="Sophomore">
                    <span>Sophomore</span>
                    <input type="checkbox" name="Junior" value="Junior">
                    <span>Junior</span>
                    <input type="checkbox" name="Multimedia" value="Multimedia">
                    <span>Multimedia</span>
                    <input type="checkbox" name="Network" value="Network">
                    <span>Network</span>
                </div>
                {% if tagMessage != "" %}
                <div>
                    {{ tagMessage }}
                </div>
                {% endif %}
            </div>
            <div>
                <div>
                    <div>
                        <input type="submit" name="post-button" value="Post">
                    </div>
                    <div>
                        <input type="checkbox" name="anonymous" value="Anonymous" {{ anonymous_checked | safe }}>
                        <label for="anonymous">Anonymous</label>
                    </div>
                    {{ message }}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}