<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NDHU CSIEplus</title>

  <link rel="stylesheet" href="{{  url_for('static', filename = 'style.css')  }}">

</head>

<body>
  <div class="main-body">
    <div class="top">
      <div class="nav">
        <div class="title">
          <a href = "/"> 資工知識+ </a>
        </div>
        <div class="click">
          <div class="ask">
            <a href = "/ask_question"> 問問題 </a>
          </div>
          <div class="rank">
            排名
          </div>
          <div class="profile">
            個人資料
          </div>
          <div class="about">
            關於
          </div>
        </div>
        <div class="user">
          {% block login %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="mid">
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer">
      © 2022 CSIEplus development team. All rights reserved.
    </div>
  </div>
</body>

</html>
