{% extends "base.html" %} {% block linkCSS %}
<link rel="stylesheet" href="{{  url_for('static', filename = 'about&rule.css')  }}">
<link rel="stylesheet" href="{{  url_for('static', filename = 'index.css')  }}"> {% endblock %} {% block login %} {% if username == "" %}
<button class="btn "><a href="{{ url_for('login') }}" class="loginbuttonstyle justify-content-center p-md-3 px-4 px-md-0" id="login">Login</a></button>
<button class="btn "><a href="{{ url_for('register') }}" class="registerbuttonstyle justify-content-center p-md-3  px-5 px-md-0" id="register">Register</a></button> {% endif %} {% if username != "" %}
<button class="btn ">
    <a href="{{  url_for('profile')  }}" class="hiMember justify-content-center" id="member">{{ username }}</a>
</button>
<button class="btn ">
    <a href="{{  url_for('log_out')  }}" class="registerbuttonstyle justify-content-center p-3" id="logout">Logout</a>
</button> {% endif %} {% endblock %} {% block content %}
<div class="container mt-5">
    <div class="Qstyle">
        Q1: NDHU CSIEplus是什麼?
    </div>
    <div class="Astyle">
        NDHU CSIEplus 是一個QA平台，你可以觀看所有平台上的問題與回答。
        <br>
        對於那些喜歡回答以及幫助別人的人，網路上的問題是永無止盡的；對於那些需要問問題的同學們，總是會有充滿熱情的同學們解決他們的問題。此外，如果有一個問得非常深入的問題，大家將會有一個非常精彩的討論，這無疑對於發問的同學是很有幫助的。
        <br>
        更棒的是，NDHU CSIEplus非常貼近同學們的生活，有些問題的答案是東華學生才會知道的，這是這個平台的其中一個優勢。
        <br>
        成為會員並開始提問以及回答問題吧！
    </div>
    <div class="Qstyle">
        Q1: What is NDHU CSIEplus?
    </div>
    <div class="Astyle Astyle-border">
        NDHU CSIEplus is a Q&A website. You can watch the questions and answers from everyone on this platform.
        <br> For those who like to answer questions from others, there are always endless questions on the website; for those who have questions to ask, there are always enthusiastic students on NDHU CSIEplus to help them out. Moreover, if there is an
        in-depth question, there will often be many intense and exciting discussions about the question, which is a lot for the questioner.
        <br> What's even better, since NDHU CSIEplus is very close to students' university life, for some answers that only students at NDHU know, you cannot find a feature like this on any other websites!
        <br> Become a member to ask and answer questions!
    </div>
    <div class="Qstyle">
        Q2: 在NDHU CSIEplus可以提問哪些種類的問題?
    </div>
    <div class="Astyle">
        所有關於資訊工程的問題都可以提問！
        <br>
        為了確保平台上的問題都是與資訊工程相關，我們訓練了一個基於Word2Vec以及CNN技術的模型。
        <br>
        這個模型會在你提問問題時判斷你發的文章是不是跟資訊工程相關，如果不相關，你就無法提問成功！
    </div>
    <div class="Qstyle mt-2">
        Q2: What type of question is available in NDHU CSIEplus?
    </div>
    <div class="Astyle Astyle-border">
        Any questions about Computer Science and course related 0to it are all available!
        <br>
        To ensure that the questions are all related to Computer Science, we trained a model based on Word2Vec and CNN.
        <br>
        This model will detect whether the question you ask is related to Computer Science or not, and if not, you will not be able to ask the question successfully!
    </div>
    <div class="Qstyle">
        Q3: 登入前後有什麼差別嗎?
    </div>
    <div class="Astyle">
        如果你登入了，你就可以提問以及回答問題。
        <br>
        不過，不論你有沒有登入，你都可以在這個平台上看到所有的問題以及回答。
    </div>
    <div class="Qstyle mt-2">
        Q3: What is the difference between before and after logging in?
    </div>
    <div class="Astyle Astyle-border">
        If you log in, you can ask and answer questions on NDHU CSIEplus! However, whether you log in, you can watch all the questions and answers on NDHU CSIEplus!
    </div>
    <div class="Qstyle">
        Q4: 我的帳號以及密碼是可以被保障的嗎?
    </div>
    <div class="Astyle">
        可以的，對於所有使用者的密碼，我們一律採用加密的方式，以防止任何人可以直接看到你的密碼。
    </div>
    <div class="Qstyle mt-2">
        Q4: Can my account and password be safe?
    </div>
    <div class="Astyle Astyle-border">
        Yes, for all users' passwords, we use encryption to ensure that nobody can see your password directly.
    </div>
    <div class="Qstyle">
        Q5: 註冊之後發給我的信件中的token是甚麼東西?
    </div>
    <div class="Astyle">
        在更改密碼時會使用到發給你的token，請妥善保管並且不要洩漏出去！
    </div>
    <div class="Qstyle mt-2">
        Q5: What does the token do send to me by email after registration?
    </div>
    <div class="Astyle Astyle-border">
        You will use the token if you want to change your user password. Therefore, please keep it safe and don't let anyone know!
    </div>
    <div class="Qstyle">
        Q6: 點數系統是甚麼?
    </div>
    <div class="Astyle">
        在註冊之後你會獲得100點。
        <br>
        如果你回答了一個問題，你將會獲得15點；如果你提問了一個問題，你將會被扣除10點。
        <br>
        期待在排名列表上看到你的名字！
    </div>
    <div class="Qstyle mt-2">
        Q6: What do points do?
    </div>
    <div class="Astyle Astyle-border">
        You will get 100 points after registration. If you answer a question, you will gain 15 points. If you ask a question, your points will be deducted by 10. See you on the leaderboard!
    </div>
    <div class="Qstyle">
        Q7: 使用這個平台需要付錢嗎?
    </div>
    <div class="Astyle">
        你不需要在這個平台上付錢。這個平台是完全免費的！
    </div>
    <div class="Qstyle mt-2">
        Q7: Do I have to pay for this?
    </div>
    <div class="Astyle Astyle-border">
        No, you don't have to pay for this. This is completely free!
    </div>
</div>
{% endblock %}