{% extends "base.html" %} {% block login %}
<div>
    <a href="{{ url_for('login') }}">Login</a>
</div>
<div>
    <a href="{{ url_for('register') }}">Register</a>
</div>
{% endblock %} {% block content %}
<div>
    <div>
        Forgot Password
    </div>
    <div>
        <form action="{{ url_for('forgotpassword') }}" method="post">
            <div>
                <div>
                    <input type="text" name="username" max="20" placeholder="Username">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="token" max="10" placeholder="Token">
                </div>
            </div>
            <div>
                <div>
                    <input type="password" name="new-password" max="16" placeholder="New password">
                </div>
            </div>
            <div>
                <div>
                    <input type="password" name="repeat-new-password" max="16" placeholder="Repeat new password">
                </div>
            </div>
            {% if message != "" %}
            <div>
                {{ message }}
            </div>
            {% endif %}
            <div>
                <div>
                    <input type="submit" name="send" value="Reset password">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}