{% extends "base.html" %} {% block linkCSS %}
<link rel="stylesheet" href="{{  url_for('static', filename = 'index.css')  }}">
{% endblock %} {% block login %} {% if username == "" %}
<button class="btn "><a href="{{ url_for('login') }}" class="loginbuttonstyle justify-content-center">Login</a></button>
<button class="btn "><a href="{{ url_for('register') }}" class="registerbuttonstyle justify-content-center">Register</a></button>
{% endif %} {% if username != "" %}
<button class="btn ">
    <a href="{{  url_for('profile')  }}" class="hiMember justify-content-center" >Hi, {{ username }}</a>
</button>
<button class="btn ">
    <a href="{{  url_for('log_out')  }}" class="registerbuttonstyle justify-content-center">Logout</a>
</button>
{% endif %} {% endblock %} {% block content %}
<div class="container-sm backBlockMargin ">
       <div class="mx-auto row ">

        <form action="{{  url_for('search_question')  }}" >
            <input class="form-control inputText boxRadius shadow " type="text" name="search_bar" placeholder="        Search Here" value="{{  search_bar_default_value  }}">
        </form>
        {{ search_count_message }}


        {% for question_data in question_list %} {% set question_id = question_data["question_id"] %}

        <a style="text-decoration: none" id=question-{{loop.index}} href="/question?qid={{question_id}}">
        {% set question_title = question_data["question_data"]["question"] %}
        {% set question_asker = question_data["question_data"]["asker"] %}
        {% set question_likes = question_data["question_data"]["likes"] %}
        {% set question_replies = question_data["question_data"]["replies"] %}
        {% set question_time = question_data["question_data"]["time"] %}
        <div class="d-flex questionBlock shadow  mt-3 bd-highlight  col-sm-12 ">
          <div id=question-{{loop.index}}-left class="p-2 w-100 bd-highlight">
            <div class="d-flex bd-highlight">
              <div id=question-{{loop.index}}-left-left class="me-3 flex-shrink-1 bd-highlight " >
               <!-- <label class="questionReply mt-2" >{{ question_replies }}</label>-->
               {% set number = question_replies.split(" ")[0] %}
               {% set text = question_replies.split(" ")[1] %}
               <div style="border-right:0.01vw solid #A49B9B " class="p-md-3">
                   <div class="questionReply mt-1 mx-auto ">
                       <div class="mx-auto">{{number}}</div>
                   </div>
                   <div class="questionreply mx-auto ">
                       <div class="mx-auto">{{text}}</div>
                   </div>
                </div>
              </div>
              <div id=question-{{loop.index}}-left-right class="d-flex  w-100 bd-highlight bd-highlight ms-md-3">
                <div id=question-{{loop.index}}-left-right-left class="questionTitle  w-100 bd-highlight my-auto">
                  {{ question_title }}
                </div>
                <div id=question-{{loop.index}}-left-right-right class="p-2 flex-shrink-1 bd-highlight align-self-end questionTime mt-5 ">
                  <label class="text-nowrap">{{ question_asker }} - {{ question_time }}</label>
                </div>
              </div>
            </div>
          </div>
            <div id=question-{{loop.index}}-right class="flex-shrink-1 bd-highlight d-flex flex-column me-md-5">
                <div id=question-{{loop.index}}-right-top class="bd-highlight ">
                    <div class="heart   mx-auto">❤️</div>
                </div>
                <div id=question-{{loop.index}}-right-bot class=" bd-highlight ">
                    <div class="heartNumber mx-auto "> <div class="mx-auto">{{ question_likes }}</div></div>
                </div>
            </div>
        </div>
      </a>
          <br> {% endfor %}
      </div>


</div>

{% endblock %}


<img src="https://picsum.photos/100/100?random=50" class="heart shadow me-5">