{% extends "base.html" %}

{% block login %}
{% if username == "" %}
<div>
  <a href="{{ url_for('login') }}">Login</a>
</div>
<div>
  <a href="{{ url_for('register') }}">Register</a>
</div>
{% endif %}
{% if username != "" %}
<div class="greet">
  Hi, {{ username }}
</div>
<div class="log-out">
  <a href="./">Logout</a>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="content_">
  <div class="questions">
    {% for question_data in question_list %}
    {% set outer_loop = loop %}
    <div id=question-{{loop.index}}>
      {% for key, val in question_data.items() %}
      <div id=question-{{outer_loop.index}}-{{key}}>
        {{ val }}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}