{% extends "base.html" %} {% block linkCSS %}
<link rel="stylesheet" href="{{  url_for('static', filename = 'index.css')  }}">
<link rel="stylesheet" href="{{  url_for('static', filename = 'rank.css')  }}">
{% endblock %} {% block login %} {% if username == "" %}
<button class="btn ">
    <a href="{{ url_for('login') }}" class="loginbuttonstyle justify-content-center">Login</a>
</button>
<button class="btn ">
    <a href="{{ url_for('register') }}" class="registerbuttonstyle justify-content-center">Register</a>
</button>
{% endif %} {% if username != "" %}


<button class="btn ">
    <a href="{{  url_for('profile')  }}" class="hiMember justify-content-center" style="text-decoration: none;">Hi, {{ username }}</a>
</button>
<button class="btn ">
    <a href="{{  url_for('log_out')  }}" class="registerbuttonstyle justify-content-center">Logout</a>
</button>

{% endif %} {% endblock %} {% block content %}
<div class="container backBlockMargin">

        <label class="leaderboard d-flex justify-content-center bottomLine col-12">Leaderboard</label>
        <div class=" mt-4 row row-col-4">
            <label class="d-flex topic justify-content-center col">Rank</label>
            <label class="d-flex topic justify-content-center col">Username</label>
            <label class="d-flex topic justify-content-center col">Points</label>
        </div>

        {% for user_content in user_contents %} {% set user_point = user_content[0] %} {% set user_name = user_content[1] %}
        {% if user_name == username %}
        <div class="board_bot_bot_content_{{loop.index}}   mt-4  myself row row-col-4">
            <label class="d-flex userStyle justify-content-center col "> {{ loop.index }}</label>
            <label class="d-flex userStyle justify-content-center col "> {{ user_name }}</label>
            <label class="d-flex userStyle justify-content-center col "> {{ user_point }}</label>
        </div>
        {% else %}
        <div class="board_bot_bot_content_{{loop.index}}  mt-4 row row-col-4">
            <label class="d-flex userStyle justify-content-center col"> {{ loop.index }}</label>
            <label class="d-flex userStyle justify-content-center col"> {{ user_name }}</label>
            <label class="d-flex userStyle justify-content-center col"> {{ user_point }}</label>
        </div>
        {% endif %}
        {% endfor %}

</div>
{% endblock %}