{% extends "base.html" %}
{% block login %}
{% if username == "" %}
<div>
  <a href = "{{ url_for('login') }}">Login</a>
</div>
<div>
  <a href = "{{ url_for('register') }}">Register</a>
</div>
{% endif %}
{% if username != "" %}
<div class = "greet">
  Hi, {{ username }}
</div>
<div class = "log-out">
  <a href = "{{  url_for('log_out')  }}">Logout</a>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class = "board">
  <div class = "board_top">
    <div>
      <label>Leaderboard</label>
    </div>
  </div>
  <div class = "board_bot">

  </div>
</div>
{% endblock %}
