{% extends "base.html" %} {% block linkCSS %}
<link rel="stylesheet" href="{{  url_for('static', filename = 'index.css')  }}">
<link rel="stylesheet" href="{{  url_for('static', filename = 'profile.css')  }}"> {% endblock %}{% block login %}
<button class="btn ">
    <a href="{{  url_for('profile')  }}" class="hiMember justify-content-center" id="member">{{ username }}</a>
</button>
<button class="btn ">
    <a href="{{  url_for('log_out')  }}" class="registerbuttonstyle justify-content-center p-3" id="logout">Logout</a>
</button> {% endblock %} {% block content %}
<div class="container backBlockMarginLog">
    <div class="row row-col-12">
        <div class="backBlockStyle mx-auto col">
            <div class="mb-md-3 col">
                <div class="d-flex p-md-2 justify-content-center mt-md-5 mt-3">
                    <img src="{{  url_for('static', filename = 'images/user.png')  }}" class="image mt-1 mt-md-2 me-3">
                    <div class="profile d-flex">
                        Profile
                    </div>
                </div>
                <div class="d-flex justify-content-around col">
                    <hr class="line">
                </div>

                <div class="p-md-2  subtitle  col ms-md-5">
                    <div class="ms-md-5">Personal Infomation</div>
                </div>
                <div class="p-md-2  item  col ms-md-5">
                    <div class="ms-md-5  mt-1">Username: {{ username }}</div>
                </div>
                <div class="p-md-2  item  col ms-md-5">
                    <div class="ms-md-5  mt-1">Email: {{ email }}</div>
                </div>
                <div class="p-md-2  item  col ms-md-5">
                    <div class="ms-md-5  mt-1">Password: {{ password }}</div>
                </div>


                <div class="p-md-2  subtitle  col ms-md-5 mt-3">
                    <div class="ms-md-5">Your Records</div>
                </div>
                <div class="p-md-2  item  col ms-md-5">
                    <div class="ms-md-5  mt-1">Points: {{ points }}</div>
                </div>
                <div class="p-md-2  item  col ms-md-5">
                    <div class="ms-md-5  mt-1">Posts: {{ posts }}</div>
                </div>
                <div class="p-md-2  item  col ms-md-5">
                    <div class="ms-md-5  mt-1">Answers: {{ answers }}</div>
                </div>



            </div>
        </div>
    </div>
</div>
{% endblock %}