{%  extends "base.html" %}
{% block login %}
{% if username == "" %}
<div class="log-in">
  Login
</div>
<div class="register">
  Register
</div>
{% else %}
<div class="greet">
  Hi, {{ username }}
</div>
<div class="log-out">
  Logout
</div>
{% endif %}
{% endblock %}

{% block content %}


{% set asker             = question_contents["question"]["question_data"]["asker"]    %}
{% set question_id       = question_contents["question"]["question_id"]               %}
{% set question_content  = question_contents["question"]["question_data"]["content"]  %}
{% set question_title    = question_contents["question"]["question_data"]["question"] %}
{% set question_date     = question_contents["question"]["question_data"]["time"]     %}
{% set question_likes    = question_contents["question"]["question_data"]["likes"]    %}
{% set question_replies  = question_contents["question"]["question_data"]["replies"]  %}

{% set reply_list = question_contents["replies"] %}

<div class="content_">
  <div class = "question-title">
    <div class = "question-brief">
      <div class = "question-brief-upper">
        <label>{{  question_title  }}</label>
      </div>
      <div class = "question-brief-lower">
        <div class = "asker-info">
          <div class = "asker-name">
            <label>{{  asker  }}</label>
          </div>
          <div class = "asked-date">
            <label>{{  question_date  }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class = "question-likes">
      <div>
        <div class = "heart-block" onclick = "submit_like({{question_id}})">
          ❤️
        </div>
        <div class = "like-count">
          <label>{{  question_likes  }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class = "question-content">
    <div class = "question-content-content">
      <p>{{  question_content  }}</p>
    </div>
  </div>
  <div class = "question-replies">
    <div class = "question-replies-upper">
      <div>
        <label>留言</label>
      </div>
    </div>
    <div class = "question-replies-middle">
      {% for reply in reply_list %}
        {% set rid           = loop.index       %}
        {% set replier       = reply["replier"] %}
        {% set reply_time    = reply["time"]    %}
        {% set reply_content = reply["content"] %}
        <div class = reply-{{rid}}>
          <div class = reply-{{rid}}-content>
            <p>{{  replier  }}: {{  reply_content  }}</p>
          </div>
          <div class = reply-{{rid}}-date>
            <label>{{  reply_time  }}</label>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class = "question-replies-bottom">
      <div class = "question-replies-bottom-left">
        <input type = "text" name = "reply-content" id = "reply-content" placeholder = "回覆">
      </div>
      <div class = "question-replies-bottom-right">
        <button type = "button" name = "submit-button" onclick = "submit_reply({{question_id}})">發布</button>
      </div>
    </div>
  </div>
</div>

<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
  function submit_reply(question_id) {
    var reply_content = document.getElementById("reply-content").value;
    var reply_dict = { "reply_content" : reply_content, "question_id" : question_id };
    console.log(reply_dict);
    if (reply_content != "") {
      console.log("finished");
      $.ajax({
        url : "/post_reply",
        type : "POST",
        contentType : "application/json",
        dataType : "json",
        data : JSON.stringify(reply_dict),
        success : (data) => {
          alert(data["error_code"]);
          window.location.href = "/question?qid=" + question_id;
        },
        error : () => {
          alert("fail");
          console.log("fail");
        }
      })
    }
  }
  function submit_like(question_id) {
    var content = { "question_id" : question_id };
    $.ajax({
      url : "/upvote_question",
      type : "POST",
      contentType : "application/json",
      dataType : "json",
      data : JSON.stringify(content),
      success : (data) => {
        alert(data["error_code"]);
        window.location.href = "/question?qid=" + question_id;
      },
      error : () => {
        alert("fail");
        console.log("fail");
      }
    })
  }
</script>
{% endblock %}
