{% extends "base.html" %} {% block linkCSS %}
<link rel="stylesheet" href="{{  url_for('static', filename = 'index.css')  }}">
<link rel="stylesheet" href="{{  url_for('static', filename = 'question.css')  }}"> {% endblock %}{% block login %} {% if username == "" %}
<button class="btn "><a href="{{ url_for('login') }}" class="loginbuttonstyle justify-content-center p-md-3 px-4 px-md-0" id="login">Login</a></button>
<button class="btn "><a href="{{ url_for('register') }}" class="registerbuttonstyle justify-content-center p-md-3  px-5 px-md-0" id="register">Register</a></button> {% endif %} {% if username != "" %}
<button class="btn ">
    <a href="{{  url_for('profile')  }}" class="hiMember justify-content-center" id="member">{{ username }}</a>
</button>
<button class="btn ">
    <a href="{{  url_for('log_out')  }}" class="registerbuttonstyle justify-content-center p-3" id="logout">Logout</a>
</button> {% endif %} {% endblock %} {% block content %} {% set asker = question_contents["question"]["question_data"]["asker"] %} {% set question_id = question_contents["question"]["question_id"] %} {% set question_content = question_contents["question"]["question_data"]["content"]
%} {% set question_title = question_contents["question"]["question_data"]["question"] %} {% set question_date = question_contents["question"]["question_data"]["time"] %} {% set question_likes = question_contents["question"]["question_data"]["likes"] %}
{% set question_replies = question_contents["question"]["question_data"]["replies"] %} {% set reply_list = question_contents["replies"] %}

<div class="container backBlockMargin">
    <div class="row">
        <div class="bd-highlight d-flex flex-row col-12">
            <div class="d-flex flex-column bd-highlight  titleBackground">
                <label class="bd-highlight Qtitle">{{ question_title }}</label>
                <div class="bd-highlight d-flex flex-row mt-3">
                    <label class="bd-highlight Qrelative">{{ asker}}</label>
                    <label class=" bd-highlight Qrelative ms-3">{{ question_date }}</label>
                    <div class="ms-3 bd-highlight Qbutton btn-sm justify-content-center">{{ tag }}</div>
                </div>
            </div>
            <div class="d-flex flex-column bd-highlight">
                <!--
                    
                        {% if question_likes > 30 %}<div class="heart mx-auto" style="opacity: 1;">🤍</div>
                        {% elif question_likes > 20 %}<div class="heart mx-auto" style="opacity: 0.7;">🤍</div>
                        {% elif question_likes > 10 %}<div class="heart mx-auto" style="opacity: 0.4;">🤍</div>
                        {% elif question_likes >= 0 %}<div class="heart mx-auto" style="opacity: 0.1;">🤍</div>
                        {% endif %}
                -->
                {% if question_likes > 30 %}
                <div class="justify-content-center" style="opacity: 1;"><a style="text-decoration: none" href="{{  url_for('upvote_question')  }}" class="bd-highlight heartSize ">🤍</a></div>
                {% elif question_likes > 20 %}
                <div class="justify-content-center" style="opacity: 0.7;"><a style="text-decoration: none" href="{{  url_for('upvote_question')  }}" class="bd-highlight heartSize ">🤍</a></div>
                {% elif question_likes > 10 %}
                <div class="justify-content-center" style="opacity: 0.4;"><a style="text-decoration: none" href="{{  url_for('upvote_question')  }}" class="bd-highlight heartSize ">🤍</a></div>
                {% elif question_likes >=  0 %}
                <div class="justify-content-center" style="opacity: 0.1;"><a style="text-decoration: none" href="{{  url_for('upvote_question')  }}" class="bd-highlight heartSize ">🤍</a></div>
                {% endif %}
                <div class="bd-highlight likeTimes justify-content-center ">{{ question_likes }}</div>
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="Qcontent bg-light p-3 ">
                <div class="ms-2">{{ question_content }}</div>
            </div>
        </div>
        <form class="mt-2" action="{{  url_for('post_reply')  }}" method="post">
            <div class="row mb-2" style="border-bottom:0.1vw solid #A49B9B">
                <div class="col-10 comment">
                    <div class="ms-3">Comments</div>
                </div>
                <div class="col-2  align-self-end justify-content-end reply text-nowrap">{{ question_replies }}</div>
            </div>
            <div class="row">
                {% for reply in reply_list %} {% set rid = loop.index %} {% set replier = reply["replier"] %} {% set reply_time = reply["time"] %} {% set reply_content = reply["content"] %}
                <div class="reply-{{rid}} mt-3">
                    <div class="reply-{{rid}}-content bd-highlight">
                        <div class="col-12 replyMember ms-3">{{ replier }}</div>
                        <div class="col-12 replyContent ms-3">{{ reply_content }}</div>
                    </div>
                    <div class="reply-{{rid}}-date">
                        <div class=" col-12 replyDate ms-3">
                            <{{ reply_time }}>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row mt-4 ms-1 ms-md-0">
                <input class="col-8 form-control w-75 inputText box p-md-4 p-3" type="text" name="reply_entry_box" placeholder="comments..." value="{{  reply_default_value  }}">
                <input class="col-1 post offset-2 btn-sm  my-auto postWord justify-content-center p-1" type="submit" name="submit_button" value="Post">
            </div>
        </form>
    </div>
</div>
{% endblock %}