{% extends "base.html" %} {% block login %} {% if username == "" %}
<div>
    <a href="{{ url_for('login') }}">Login</a>
</div>
<div>
    <a href="{{ url_for('register') }}">Register</a>
</div>
{% endif %} {% if username != "" %}
<div>
    Hi, {{ username }}
</div>
<div>
    <a href="{{  url_for('log_out')  }}">Logout</a>
</div>
{% endif %} {% endblock %} {% block content %} {% set asker = question_contents["question"]["question_data"]["asker"] %} {% set question_id = question_contents["question"]["question_id"] %} {% set question_content = question_contents["question"]["question_data"]["content"]
%} {% set question_title = question_contents["question"]["question_data"]["question"] %} {% set question_date = question_contents["question"]["question_data"]["time"] %} {% set question_likes = question_contents["question"]["question_data"]["likes"] %}
{% set question_replies = question_contents["question"]["question_data"]["replies"] %} {% set reply_list = question_contents["replies"] %}

<div>
    <div>
        <div>
            <div>
                <label>{{ question_title }}</label>
            </div>
            <div>
                <label>{{ asker }} {{ question_date }}</label>
            </div>
            <div>
                <label>{{ tag }}</label>
            </div>
        </div>
        <div>
            <a href="{{  url_for('upvote_question')  }}">
        ❤️
      </a>
            <div>
                <label>{{ question_likes }}</label>
            </div>
        </div>
    </div>
    <div>
        <p>{{ question_content }}</p>
    </div>
    <form action="{{  url_for('post_reply')  }}" method="post">
        <div>
            <div>
                <label>Comments</label>
            </div>
            <div>
                <label>{{ question_replies }}</label>
            </div>
        </div>
        <div>
            {% for reply in reply_list %} {% set rid = loop.index %} {% set replier = reply["replier"] %} {% set reply_time = reply["time"] %} {% set reply_content = reply["content"] %}
            <div class=reply-{{rid}}>
                <div class=reply-{{rid}}-content>
                    <p>{{ replier }}: {{ reply_content }}</p>
                </div>
                <div class=reply-{{rid}}-date>
                    <label>{{ reply_time }}</label>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <div>
                <input type="text" name="reply_entry_box" placeholder="comments..." value="{{  reply_default_value  }}">
            </div>
            <div>
                <input type="submit" name="submit_button" value="Post">
            </div>
        </div>
    </form>
</div>
{% endblock %}