<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NDHU CSIEplus</title>
</head>

<body>
  <div class="main" style="background-color : gray; ">
    <div class="top" style="background-color : blue; ">
      <div class="nav" style="background-color : green;  ">
        <div class="title" style="background-color : azure; ">
          資工知識+
        </div>
        <div class="click" style="background-color : yellow; ">
          <div class="ask" style="background-color : azure;  ">
            問問題
          </div>
          <div class="rank" style="background-color : yellow; ">
            排名
          </div>
          <div class="profile" style="background-color : azure; ">
            個人資料
          </div>
          <div class="about" style="background-color : yellow">
            關於
          </div>
        </div>
        <div class="user" style="background-color : skyblue;  ">
          {% block login %}{% endblock %}
        </div>
      </div>
    </div>
    <div class="mid" style="background-color : red;  ">
      <div>
        {% block questions %}{% endblock %}
      </div>
    </div>
  </div>
</body>

</html>