{% extends "base.html" %} {% block linkCSS %}
<link rel="stylesheet" href="{{  url_for('static', filename = 'about&rule.css')  }}">
<link rel="stylesheet" href="{{  url_for('static', filename = 'index.css')  }}"> {% endblock %} {% block login %} {% if username == "" %}
<button class="btn "><a href="{{ url_for('login') }}" class="loginbuttonstyle justify-content-center p-md-3 px-4 px-md-0" id="login">Login</a></button>
<button class="btn "><a href="{{ url_for('register') }}" class="registerbuttonstyle justify-content-center p-md-3  px-5 px-md-0" id="register">Register</a></button> {% endif %} {% if username != "" %}
<button class="btn ">
    <a href="{{  url_for('profile')  }}" class="hiMember justify-content-center" id="member">{{ username }}</a>
</button>
<button class="btn ">
    <a href="{{  url_for('log_out')  }}" class="registerbuttonstyle justify-content-center p-3" id="logout">Logout</a>
</button> {% endif %} {% endblock %} {% block content %}
<div class="container mt-5">
    <div class="Qstyle">
        首頁
    </div>
    <div class="Astyle">
        - 點擊問題框以顯示該問題的頁面以及內容
    </div>
    <div class="Qstyle mt-2">
        Home page
    </div>
    <div class="Astyle Astyle-border">
        - Click on the question block to direct to the question page
    </div>
    <div class="Qstyle">
        首頁搜索框
    </div>
    <div class="Astyle">
        - 輸入任何關鍵字已查找你想要的問題
        <br>- 輸入"#"，後面加上general / freshman / sophomore / junior / multimedia / network，以查找所有該類別的問題
    </div>
    <div class="Qstyle mt-2">
        Search bar
    </div>
    <div class="Astyle Astyle-border">
        - Type the keyword in the search bar in order to find related questions
        <br>- Type # with the tags as follows to find questions with a specific tag: general, freshman, sophomore, junior, multimedia, and network
    </div>
    <div class="Qstyle">
        個別問題頁面
    </div>
    <div class="Astyle">
        - 點擊愛心圖式就可以按讚
        <br>- 寫完留言之後點擊"post"以發送留言
    </div>
    <div class="Qstyle mt-2">
        Question page
    </div>
    <div class="Astyle Astyle-border">
        - Click on the heart icon to like this question
        <br>- Write down your comments by clicking the "post" button after typing in your comments
    </div>
    <div class="Qstyle">
        提問問題頁面
    </div>
    <div class="Astyle">
        - 輸入你的文章標題，上限為200個字
        <br>- 輸入你的文章內容，上限為500個字
        <br>- 每個問題只能選擇一個標籤
        <br>- 你可以選擇匿名或者不匿名
        <br>- 點擊"post"以提問
    </div>
    <div class="Qstyle mt-2">
        Ask
    </div>
    <div class="Astyle Astyle-border">
        - Type in the title of your question in the "Title of question..." block, the maximum length is 200 characters
        <br>- Type in the content of your question in the "Content of question..." block, the maximum length is 500 characters
        <br>- You can only choose one tag for your question
        <br>- You can decide to post the question as anonymous, but we encourage you to post it with your name
        <br>- Click on the post button to submit your question
    </div>
    <div class="Qstyle">
        個人頁面
    </div>
    <div class="Astyle">
        - 你可以在這裡確認你的個人資訊
        <br>- 為了安全，密碼會以"*"的方式取代
    </div>
    <div class="Qstyle mt-2">
        Profile
    </div>
    <div class="Astyle Astyle-border">
        - You can check out your personal information on this page
        <br>- Password will be in *** format to keep your password from exposed
    </div>
    <div class="Qstyle">
        排名頁面
    </div>
    <div class="Astyle">
        - 你可以在這裡確認分數排名
        <br>- 前三名將會被特別的顏色顯示
        <br>- 你的個人資訊會以綠色背景顯示
    </div>
    <div class="Qstyle mt-2">
        Leaderboard
    </div>
    <div class="Astyle Astyle-border">
        - You can check your rank among all users here
        <br>- Top 3 users will be displayed in special colors
        <br>- Your rank will be marked with a green bar
    </div>
    <div class="Qstyle">
        註冊 
    </div>
    <div class="Astyle">
        - 使用者名稱上限為20個字
        <br>- 電子郵件必須為學校的電子郵件
        <br>- 一個電子郵件只能註冊一個帳號
        <br>- 密碼上限為16個字
        <br>- 你會在註冊過後收到你的token，請妥善保管以作為日後更改密碼使用。
    </div>
    <div class="Qstyle">
        Register 
    </div>
    <div class="Astyle Astyle-border">
        - The maximum length of your username is 20 characters
        <br>- The email you register has to be your NDHU email
        <br>- Each email can be only registered once
        <br>- The maximum length of your password is 16 characters
        <br>- You will get a token after registeration, please save the token in case you need to change your password 
    </div>
    <div class="Qstyle">
        忘記密碼
    </div>
    <div class="Astyle">
        - 輸入你的使用者名稱
        <br>- 輸入系統在你註冊時寄給你的token
        <br>- 輸入你的新密碼兩次以確認無誤    
    </div>
    <div class="Qstyle mt-2">
        Forgot Password
    </div>
    <div class="Astyle Astyle-border">
        - Type in your username 
        <br>- Type in the token given after registration 
        <br>- Type in your new password and repeat it in the following block
    </div>
    <div class="Qstyle">
        常見問題
    </div>
    <div class="Astyle">
        - 在這裡觀看常見問題以及解答
    </div>
    <div class="Qstyle mt-2">
        FAQs
    </div>
    <div class="Astyle Astyle-border">
        - Find frequently asked questions and answers here
    </div>
    <div class="Qstyle">
        團隊頁面
    </div>
    <div class="Astyle">
        - 在這裡獲得更多開發者們的資訊
    </div>
    <div class="Qstyle mt-2">
        Team
    </div>
    <div class="Astyle Astyle-border">
        - Learn the information about this website and detail about our team members
    </div>
</div>
{% endblock %}